{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>клиенты</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Клиенты</h1>
    <a href="/main" type="submit">Назад</a>
    <a href="/outlets">Перейти к торговым точкам</a>
    <a href="/rent">Перейти к арендам</a>

    <form method="post" action="/clients">
        {% csrf_token %}
        <input type="text" name="keyword" placeholder="Поиск" id="keyword">
        <button type="submit">Поиск</button>
        <button type="reset" id="reset-search-clients">Отмена поиска</button>
    </form>
    
    <table id="clients-table">
        <tr>
            <th>Номер клиента</th>
            <th>Имя клиента</th>
            <th>Номер телефона</th>
            <th>Адрес</th>
            <th>Действия</th> 
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.clientID }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>{{ item.adres }}</td>
            <td>
                <form method="get" action="/clients/edit/{{ item.clientID}}">
                    <button type="submit">Изменить</button>
                </form>
                <form method="post" action="/clients/delete/{{ item.clientID }}">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#keyword').on('input', function() {
                var keyword = $(this).val();
                // Отправить AJAX-запрос на сервер для фильтрации данных и обновления таблицы
                $.ajax({
                    url: '/clients/filter',
                    method: 'POST',
                    data: { keyword: keyword },
                    success: function(data) {
                        // Обновить таблицу с отфильтрованными данными
                        $('#clients-table').html(data);
                    }
                });
            });
    
            $('#reset-search-clients').on('click', function() {
                // Сброс поискового поля и отправка запроса на сервер
                $('#keyword').val('');
                $.ajax({
                    url: '/clients',
                    method: 'GET',
                    success: function(data) {
                        // Обновить таблицу с полными данными
                        $('#clients-table').html(data);
                    }
                });
            });
        });
    </script>
    
</body>
</html>
