{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Редактирование записи</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Редактирование записи</h1>
    <form method="post" action="/outlets/edit/{{ outlet_data.id }}/">
        {% csrf_token %}
        <label for="new_floor">Этаж:</label>
        <input type="text" name="new_floor" value="{{ outlet_data.floor }}" required><br>

        <label for="new_area">Площадь:</label>
        <input type="text" name="new_area" value="{{ outlet_data.area }}" required><br>

        <label for="new_priceDay">Стоимость в день:</label>
        <input type="text" name="new_priceDay" value="{{ outlet_data.priceDay }}" required><br>

        <button type="submit">Сохранить</button>
    </form>

    <a href="/outlets">Назад к списку</a>
</body>
</html>

