{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>ежемесячный платеж</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>
<body>
    <h1>Ежемесячный платеж</h1>
    <a href="/main" type="submit">Назад</a>
    <a href="/clients">Перейти к арендам</a>
    <form method="post" action="/monthlypayment">
        {% csrf_token %}
        <input type="text" name="keyword" placeholder="Поиск" id="keyword">
        <button type="submit">Поиск</button>
        <button type="reset">Отмена поиска</button>
    </form>

    <table>
        <tr>
            <th>Номер платежа</th>
            <th>Сумма платежа</th>
            <th>Дата платежа</th>
            <th>Аренда</th>
        </tr>
        {% for item in data %}
        <tr>
            <td>{{ item.paymentID }}</td>
            <td>{{ item.sumPayment }}</td>
            <td>{{ item.datePayment }}</td>
            <td>{{ item.rent }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>